.container {
  background-color: #f4c531;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sm {
  background-color: white;
  box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 15px 25px;

  width: 350px;
  /* height: 500px; */
}

.container-btn {
  display: flex;
  justify-content: space-around;
  margin: 35px auto;
}

button {
  background-color: #f4c531;
  padding: 7px 10px;
  border-radius: 15px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.85;
}

button:hover {
  opacity: 1;
}

.emoji {
  background-color: #f4c531;
  margin: 40px auto;
  width: 14.37em;
  height: 14.37em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 125px;
}

.eyes {
  margin-top: 10px;
}

.mouth {
  margin-top: 10px;
}
