.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  background-color: rgb(214, 241, 232);
}

h2 span {
  color: red;
}

h1 {
  font-size: 60px;
}
