<div class="body">
  <div class="wrapper">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <div class="input-field">
        <input formControlName="email" type="text" #email />
        <label>Enter your email</label>
        <small
          *ngIf="
            !reactiveForm.get('email')?.valid &&
            reactiveForm.get('email')?.touched
          "
          >Please enter a valid email</small
        >
      </div>
      <div class="input-field">
        <input type="password" formControlName="password" #password />
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember" />
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href="#">Register</a></p>
      </div>
    </form>
  </div>
</div>
