<div class="body">
  <div class="wrapper">
    <header>Currency Converter</header>
    <form action="#">
      <div class="amount">
        <p>Enter Amount</p>
        <input class="search" name="input" [(ngModel)]="amount" type="text" />
      </div>
      <div class="drop-list">
        <div class="from">
          <p>From</p>
          <div class="select-box">
            <img [src]="imgSrc1" alt="flag" />
            <select
              name="From"
              [(ngModel)]="selectionFrom"
              (change)="loadFlagFrom($event)"
            >
              <option [value]="code" *ngFor="let code of countryList">
                {{ code }}
              </option>
            </select>
          </div>
        </div>
        <div (click)="swapCurrency()" class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon-svg"
          >
            <path
              fill-rule="evenodd"
              d="M15.97 2.47a.75.75 0 011.06 0l4.5 4.5a.75.75 0 010 1.06l-4.5 4.5a.75.75 0 11-1.06-1.06l3.22-3.22H7.5a.75.75 0 010-1.5h11.69l-3.22-3.22a.75.75 0 010-1.06zm-7.94 9a.75.75 0 010 1.06l-3.22 3.22H16.5a.75.75 0 010 1.5H4.81l3.22 3.22a.75.75 0 11-1.06 1.06l-4.5-4.5a.75.75 0 010-1.06l4.5-4.5a.75.75 0 011.06 0z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="to">
          <p>To</p>
          <div class="select-box">
            <img [src]="imgSrc2" alt="flag" />
            <select
              name="To"
              [(ngModel)]="selectionTo"
              (change)="loadFlagTo($event)"
            >
              <option [value]="code" *ngFor="let code of countryList">
                {{ code }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="exchange-rate">
        {{ result }}
      </div>
      <button (click)="getExchangeRate()">Get Exchange Rate</button>
    </form>
  </div>
</div>
