<div class="body">
  <app-button1></app-button1>
  <app-button2></app-button2>
  <app-button6></app-button6>
  <app-button3></app-button3>
  <app-button5></app-button5>
  <app-button4></app-button4>
  <app-button7></app-button7>
  <app-button8></app-button8>
  <app-button9></app-button9>
  <app-button10></app-button10>
  <app-button11></app-button11>
  <app-button12></app-button12>
  <app-button14></app-button14>
  <app-button13></app-button13>
  <app-button15></app-button15>
  <app-button16></app-button16>
  <app-button17></app-button17>
  <app-button19></app-button19>
</div>
