.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: #025464; */
  font-family: sans-serif;
  background: linear-gradient(#025464, #f8f1f1);
}

h2 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 30px;
  text-align: center;
  color: #f8f1f1;
  font-family: sans-serif;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 80px;
  background-color: #e8aa42;
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
  height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #e57c23;
  opacity: 0.8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#ampm {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background-color: #025464;
  border-radius: 10px;
}

.clock .time {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
