<div class="container">
  <div class="calculator">
    <div class="display">
      <input
        type="text"
        disabled
        placeholder="0"
        id="input"
        [value]="displayValue"
      />
    </div>
    <div class="buttons">
      <input (click)="clear()" type="button" value="AC" id="clear" />
      <input (click)="erase()" type="button" value="DEL" id="erase" />

      <input
        #buttonref
        *ngFor="let button of buttons"
        [value]="button"
        (click)="buttonClick(buttonref)"
        type="button"
        [id]="button === '=' ? 'equal' : ''"
        class="input-button"
      />
    </div>
  </div>
</div>
