<div class="container">
  <h1>Country Guide</h1>
  <div class="container-sm">
    <div class="search-box">
      <input
        class="input"
        [(ngModel)]="userInput"
        placeholder="Enter a country name here"
        type="text"
        (keyup.enter)="searchCountry($event)"
      />

      <button (click)="getCountry()" class="btn">Search</button>
    </div>
    <h3 class="error-text">{{ errorMessage }}</h3>

    <div *ngIf="showResult" class="result">
      <img [src]="imgSrc" alt="" />
      <h2>{{ country }}</h2>
      <div class="wrapper">
        <div class="data-wrapper">
          <h4>Capital:</h4>
          <span>{{ capital }}</span>
        </div>
      </div>
      <div class="wrapper">
        <div class="data-wrapper">
          <h4>Continent:</h4>
          <span>{{ continent }}</span>
        </div>
      </div>
      <div class="wrapper">
        <div class="data-wrapper">
          <h4>Population:</h4>
          <span>{{ population }}</span>
        </div>
      </div>
      <div class="wrapper">
        <div class="data-wrapper">
          <h4>Currency:</h4>
          <span>{{ currency }}</span>
        </div>
      </div>
      <div class="wrapper">
        <div class="data-wrapper">
          <h4>Common Languages:</h4>
          <span>{{ commonLanguages }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
