<div class="container">
  <h1>Whac A Mole</h1>

  <h2>{{ gameOver ? loseMessage : score }}</h2>
  <div class="board">
    <div *ngFor="let number of pipeNumber; let i = index">
      <img
        (click)="clickMole($event)"
        *ngIf="i == randomPipeMole"
        src="../../assets/whac-a-mole/monty-mole.png"
        alt=""
      />
      <img
        (click)="clickPlant()"
        *ngIf="i == randomPipePlant"
        src="../../assets/whac-a-mole/piranha-plant.png"
        alt=""
      />
    </div>
  </div>
</div>
