<div #body class="body">
  <div class="container">
    <div class="wrapper">
      <label for="red">R</label>
      <input
        (ngModelChange)="changeColor()"
        type="range"
        min="0"
        max="255"
        [(ngModel)]="redValue"
        id="red"
      />
    </div>
    <div class="wrapper">
      <label for="green">G</label>
      <input
        (ngModelChange)="changeColor()"
        type="range"
        min="0"
        max="255"
        [(ngModel)]="greenValue"
        id="green"
      />
    </div>
    <div class="wrapper">
      <label for="blue">B</label>
      <input
        (ngModelChange)="changeColor()"
        type="range"
        min="0"
        max="255"
        [(ngModel)]="blueValue"
        id="blue"
      />
    </div>
    <div class="result">
      <input #colorcode type="text" [value]="finalColorCode" readonly />
      <button id="copy-btn" (click)="copyColorCode()">
        {{ buttonClicked ? "Copied!" : "Copy Color Code" }}
      </button>
    </div>
  </div>
</div>
