.body {
  height: 200px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}

a {
  text-decoration: none;
  padding: 40px 80px;
  background-color: #f1c40f;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  transition: all 0.5s;
  position: relative;
}

a:before {
  content: "Hover Me";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2ce771;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}

a:hover::before,
a:hover:after {
  transform: rotateX(0deg);
}

a:after {
  content: "Hover Me";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.25s;
}
