<div class="body" [ngClass]="{ dark: isDark }">
  <div class="container">
    <div class="clock">
      <label
        *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
        style="--i: {{ number }}"
        ><span>{{ number }}</span></label
      >

      <div class="indicator">
        <span
          class="hand hour"
          [ngStyle]="{ transform: 'rotate(' + hrToDeg + 'deg)' }"
        ></span>
        <span
          class="hand minute"
          [ngStyle]="{ transform: 'rotate(' + minToDeg + 'deg)' }"
        ></span>
        <span
          class="hand second"
          [ngStyle]="{ transform: 'rotate(' + secToDeg + 'deg)' }"
        ></span>
      </div>
    </div>

    <div (click)="darkClick()" class="mode-switch">Dark Mode</div>
  </div>
</div>
