<body>
  <div class="container">
    <img src="../../../../../assets/images/paysage-sous-marin.jpg" alt="" />
    <div class="caption">
      <h2>image Hover</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum
        delectus accusantium sint ullam nesciunt, tempore in animi ab deleniti
        quasi. Harum, veritatis! Autem deserunt, commodi possimus magnam
        nesciunt dignissimos rerum.
      </p>

      <a href="#">Read More</a>
    </div>
  </div>
</body>
