<div class="container">
  <form class="form" #additionForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="score-box">
      <h4 class="reset" (click)="resetScore()">Reset</h4>
      <h4 class="score">Score:{{ score }}</h4>
    </div>
    <h1>What is {{ num1 }} add {{ num2 }} ?</h1>

    <div class="input-container">
      <input
        [(ngModel)]="userInput"
        placeholder="Enter your answer"
        class="input"
        autocomplete="off"
        name="userInput"
        type="number"
      />

      <button class="btn" type="submit">Submit</button>
    </div>
  </form>
</div>
