.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 0;
  text-align: center;
  background-color: #91c8e4;
  font-family: cursive;
  overflow: hidden;
}

.form {
  box-shadow: 0 4px 8px (black, 0.3);
  width: 450px;
  background-color: #f6f4eb;
  margin: 10px;
  padding: 50px 15px;
  border-radius: 8px;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.input {
  width: 100%;
  margin: 5px auto;
  border-radius: 8px;
  border: 1px black solid;
  text-align: center;
  color: #749bc2;
  box-sizing: border-box;
  padding: 10px;
  font-size: 30px;
  display: block;
}
.btn {
  margin-top: 10px;
  background-color: #4682a9;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-family: cursive;
  margin: 20px 0;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 4px rgba(black, 0.4);
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input::placeholder {
  color: lightgray;
  font-family: cursive;
}

.score {
  color: #4682a9;
  text-align: right;
}

.btn:hover {
  filter: brightness(0.9);
}

.reset {
  text-decoration: underline;
  cursor: pointer;
  color: #4682a9;
}
.score-box {
  display: flex;
  justify-content: space-between;
}
