<div class="body">
  <div class="container">
    <h1 class="heading">English Dictionary</h1>

    <input
      [(ngModel)]="userInput"
      placeholder="Search a word"
      type="text"
      class="input"
      id="input"
      (keyup.enter)="searchWord($event)"
    />

    <p
      [ngStyle]="{ display: showInfotext ? 'block' : 'none' }"
      class="info-text"
      id="info-text"
    >
      {{ infoText }}
    </p>
    <div
      [ngStyle]="{ display: hideResponse ? 'none' : 'block' }"
      class="meaning-container"
      id="meaning-container"
    >
      <p>
        Word Title:
        <span class="title" id="title">{{ wordTitle }}</span>
      </p>
      <p>
        Meaning: <span class="meaning" id="meaning">{{ meaning }}</span>
      </p>

      <audio src="{{ audioSrc }}" controls id="audio"></audio>
    </div>
  </div>
</div>
