<div class="body">
  <form class="form">
    <h1 class="title header">Registration</h1>

    <h3 class="title">Personal Details</h3>

    <div class="field">
      <span>Full Name</span>
      <input type="text" placeholder="Enter your name" />
    </div>
    <div class="field">
      <span>Date of Birth</span>
      <input type="date" placeholder="mm/dd/yyy" />
    </div>
    <div class="field">
      <span>Email</span>
      <input type="text" placeholder="Enter your email" />
    </div>
    <div class="field">
      <span>Mobile Number</span>
      <input type="text" placeholder="Enter mobile number" />
    </div>
    <div class="field">
      <span>Gender</span>
      <input type="text" placeholder="Enter your gender" />
    </div>
    <div class="field">
      <span>Occupation</span>
      <input type="text" placeholder="Enter your occupation" />
    </div>

    <h3 class="title">Indentity Details</h3>

    <div class="field">
      <span>ID Type</span>
      <input type="text" placeholder="Enter ID Type" />
    </div>
    <div class="field">
      <span>ID Number</span>
      <input type="text" placeholder="Enter your ID number" />
    </div>
    <div class="field">
      <span>Identity Authority</span>
      <input type="text" placeholder="Enter Issue Authority" />
    </div>
    <div class="field">
      <span>Issued State</span>
      <input type="text" placeholder="Enter issued state" />
    </div>
    <div class="field">
      <span>Issued Date</span>
      <input type="date" />
    </div>
    <div class="field">
      <span>Expiry Date</span>
      <input type="date" placeholder="select a date" />
    </div>

    <button class="btn">Submit</button>
  </form>
</div>
