.container {
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}
.container-sm {
  padding: 50px;
  max-width: 800px;
  margin: auto;
}
.widget {
  width: 150px;
  height: 175px;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #355c7d;
  font-size: 20px;
  font-family: cursive;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 5px;
  background-color: #aebdca;
  overflow: hidden;
}

.widget:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #355c7d;
}

.widget:hover {
  color: #355c7d;
  box-shadow: 0 0 5px #355c7d;
  text-shadow: 0 0 5px #355c7d;
}
h1 {
  text-align: center;
  font-family: cursive;
  color: #f5efe6;
  background-color: #355c7d;
  margin: 0;

  padding: 16px;
}

.image {
  width: 100%;

  padding: 0;
  margin: 0;
}

.project-card {
  max-width: 150px;
  height: 175px;
}

.project-card img {
  height: 95px;
}

mat-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

mat-card {
  transition: transform 0.3s;
}

/* .sort-select {
  margin-left: 20px;
} */
