<div class="body">
  <div class="container">
    <div id="game" *ngIf="!correctAnswer">
      <h3>
        I am thinking of a number between 1-100.<br />
        Can you guess it?
      </h3>
      <div class="input-wrapper">
        <input
          [(ngModel)]="userInput"
          type="number"
          placeholder=""
          id="guess"
          (keyup.enter)="onEnter($event)"
        />
        <button id="check-btn" (click)="submitAnswer()">Guess</button>
      </div>
      <p id="no-of-guesses">No. Of Guesses: {{ guesses }}</p>
      <p id="guessed-nums">Guessed Numbers are: {{ guessedNums }}</p>
    </div>
    <button (click)="restartGame()" *ngIf="correctAnswer" id="restart">
      Restart
    </button>
    <div class="result">
      <div [ngClass]="{ error: tooLow || tooHigh, success: correctAnswer }">
        <div *ngIf="tooLow">Too low.Try Again!</div>
        <div *ngIf="tooHigh">Too high. Try Again!</div>
        <div *ngIf="correctAnswer">
          Congratulations <br />The number was {{ randomNumber }}<br />You
          guessed the number in {{ guesses }} tries.
        </div>
      </div>
    </div>
  </div>
</div>
