<div class="container">
  <h1>Sudoku</h1>
  <hr />
  <h2 id="errors">Errors : {{ errors }}</h2>

  <div id="board">
    <div class="myboard" *ngFor="let row of board; let i = index">
      <div
        #tile
        class="tile"
        (click)="selectTile(tile, i, j)"
        *ngFor="let number of row.split(''); let j = index"
        [ngClass]="{
          'tile-start': number != '-',
          'horizontal-line': i === 2 || i === 5,
          'vertical-line': j === 5 || j === 2
        }"
      >
        {{ number == "-" ? "" : number }}
      </div>
    </div>
  </div>
  <br />
  <div id="digits">
    <div
      #mydigit
      class="number"
      *ngFor="let digit of digits"
      (click)="selectDigit(mydigit)"
    >
      {{ digit }}
    </div>
  </div>
</div>
